<main>
  <div>
    <img draggable="false" src="/img/logos/icon.png" id="icon-404" />
  </div>

  <h1 id="text-title">Page not found</h1>
  <h2 id="text-subtitle">The page you are looking for does not exist.</h2>
  <div id="goback-container">
    <a href="/" class="goback-text">Go back</a>
    <i class="bx bx-arrow-back icon-return"></i>
  </div>
</main>
